@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Outfit', sans-serif;
}

.prata {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.nav-hr{
   @apply w-5 text-center mx-auto border-none h-[1.5px] bg-white 
}

/* for large devices */
a.active hr{
    @apply bg-slate-400
}

/* for mobile sidemenu */
.mobile-link.active, .mobile-link.active:hover{
    @apply bg-slate-900 text-slate-100
}